<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arunlakhera.mmmuzik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlbumsActivity">
            Shows all the Albums available
        </activity>
        <activity android:name=".ArtistsActivity">
            Shows all Artists
        </activity>
        <activity android:name=".GenreActivity">
            Shows all type os Genre Music Available
        </activity>
        <activity android:name=".TracksActivity">
            Shows all the Tracks
        </activity>
        <activity android:name=".PlayerActivity">
            Plays Current Selected Track
        </activity>
        <activity android:name=".ConfirmationActivity">Payment activity for purchasing a Song</activity>
    </application>

</manifest>